<div class="jumbotron mt-4">
    <h1 class="display-4">Control de ingreso y salida edificio</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum perspiciatis excepturi aut natus velit iste necessitatibus! Accusamus adipisci quam harum porro quae odit. Id dolores perferendis eveniet provident, nisi temporibus.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni nesciunt, eaque animi qui at quod ex eveniet dolore voluptatibus consequatur eos, repudiandae doloribus? Eum ipsum inventore, suscipit delectus tempore rem.</p>
    <a href="https://www.controlApp.com" class="btn btn-primary">controlWeb</a>
</div>
