<div class="jumbotron mt-4">
    <h1 class="display-4">Control de ingreso y salida edificio</h1>
    <p class="lead">Bienvenido al sistema de control de ingreso y salida de personas del edificio X.</p>
    <hr class="my-4">
    <p>Como encargado del sistema tiene asignadas las siguientes funciones: registrar usuarios que no se encuentren en el 
        sistema, registrar el ingreso de esos usuarios y poder consultar el historial de ingresos al edificio para 
        procurar la seguridad de este. para poder acceder a todas esas funciones encomendadas a su persona, el 
        sistema cuenta con un menú de navegación con el nombre especifico de sus funciones.</p>
</div>
