<section class="card">
    <div class="card-body">
        <h1>Logger</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum hic, ducimus, doloribus debitis mollitia, magnam error fuga assumenda ab modi culpa. Ad mollitia tempore nostrum blanditiis adipisci impedit sapiente consectetur.</p>
    </div>
</section>