<div class="row">
      {{#each logs}}
        <div class="col-md-3">
            <div class="card">
            <div class="card-body">
                <h4 class="card-title d-flex justify-content-between align-items-center">
                {{ personID }} <i class="fas fa-edit"></i></a>
                </h4>
                <p>{{ enteredAt }} </p>
                <p>{{ exitAt }} </p>
            </div>
            </div>
        </div>
  {{else}}
</div>