<div class="col-md-4 mx-auto">
  <div class="card">
    <div class="card-header bg-white text-center">
      <h3 class="text-dark">Ingreso</h3>
    </div>
    <div class="card-body text-right">
      <form action="/ingresos/newIngreso" method="POST">
        <div class="mb-3">
          <label for="title">Cedula:</label>
          <input
            type="text"
            name="id"
            class="form-control"
            placeholder="ingresar numero de cedula"
            autofocus
          />
        </div>
        <div class="btn-group mr-2" role="group" aria-label="First group">
          <button name="entered" type="submit" class="btn btn-primary w-100">
            Guardar Ingreso
          </button>
        </div>
        <div class="btn-group" role="group" aria-label="Second group">
          <button type="submit" class="btn btn-primary w-100">
            Guardar Salida
          </button>
        </div>
      </form>
    </div>
  </div>
</div>